@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";
@theme {
  --color-bg: hsl(0, 0%, 20%);
  --color-bg-1: hsl(0, 0%, 35%);
  --color-bg-2: hsl(0, 0%, 28%);
  --color-bg-1: hsl(0, 0%, 25%);
  --color-accent: #7a4bc4;
  --color-accent-1: #945df0;
}

body {
  font-family: "Poppins", sans-serif;
  color:white
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  display: inline-block;

}